<!-- <!DOCTYPE html>

<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Dashboard Form</title>
	<link rel="stylesheet" href="header.component.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">

</head> -->

  <body>
    <div class="full-page">
      
        <div class="navbar">
            
      
            <div>
                <a href='bookstore.jpg'>BookStore Management</a>
            </div>
            <nav>
                <ul id='MenuItems'>
                    <li><button class="home" routerLink="/home">Home</button></li >
                    <li> <button class="btn" routerLink="/admin">Admin</button> </li>
                    <li> <button  class='btn' routerLink="/user" >User</button> </li>
                   
                </ul>
            </nav>
            <button  class='logoutbtn' (click)="logout()" >Logout</button>
        </div>
      
     
    
    </div>
    
    
<!-- </body>

</html> -->